# Compiled class file
*.class
classes/
/classes/*
out/
/out/*
*.bat
*.jar
# Log file
*.log
build.xml
*.raq.bak

# IDE config
*.iml
.classpath
.project
.idea/
dist/
.settings/
.myeclipse/

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.nar
*.tar.gz

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
