<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.syske.mybatisplus.dao.mapper.UserMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.syske.mybatisplus.dao.model.User">
        <id column="id" property="id" />
        <result column="userName" property="userName" />
        <result column="nickName" property="nickName" />
        <result column="sex" property="sex" />
        <result column="password" property="password" />
        <result column="registerTime" property="registerTime" />
        <result column="sign" property="sign" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userName, nickName, sex, password, registerTime, sign, status
    </sql>

</mapper>
